body {
  background-color: #f7fbf0;
  background-color: #dcc5a8ad;
  background-color: #343142; /*night barn*/
  color: #fed6a7;/* night barn */
}



.nav {
  display: flex;
}

.nav-lnk {
  padding: 5px;
  text-decoration: none;
}

.App {
  text-align: center;
}

form {
  margin: auto;
  width: 59%;
}

nav {
  font-size: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

html, body {
  font-size: 16px;
  margin: 0;
  color: #2c2f28;
  height: 100%;
  color: #fed6a7;/* night barn */
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-content: center;
}

.home-content {
  padding: 75px;
  background-color: #343142;
  border-radius: 3px;
  /* border: 1px solid; */
  max-width: 600px;
  /* text-align: center; */
  /* box-shadow: 5px 7px #606756; */
}

.home-container {
  flex: 1 1 auto;
  align-self: center;
  /* position: absolute; top: 0; right: 0; bottom: 0; left: 0; */
}


.game-content {
  padding: 20px;
  background-color: #f7fbf0;
  border-radius: 3px;
  width: 100%;
  /* flex-basis: 50%; */
  margin: 10px;
  justify-content: center;
}

.game-content-eggs {
  margin: 5px 0px;
}

.game-container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
  /* position: absolute; top: 0; right: 0; bottom: 0; left: 0; */
  /* max-width: 900px; */
  max-width: 95%;
  text-align: center;
}

.app-center {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px; 
}​

.site-content {
  max-width: 725px;
  width: 100%;
  padding-top: 40px;
  height: 100%;
}

.footer {
  flex: 0 1 40px;
}

.App-header {
  background-color: #647aa5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hsl(102, 40%, 90%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="text"] {
  /* margin-top: 5px;
  margin-bottom: 5px; */
  height: 50px;
  width: 94%;
  padding: 5px 10px;
  font-size: 1.3em;
  border: 1px solid #ddd;
  border-right: none;
  letter-spacing: .1em;
  font-family: inherit;
}

input.home-input {
  border-right: 1px solid #ddd;
}

.cards-container-outer {
  padding-top: 50px;
}

.cards-container {
  display: flex;
  /* justify-content: center; */
  /* padding-top: 50px; */
  /* flex-direction: column; */
}

.cards-and-rules-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */

}

.player-cards {
  margin: 10px;
  padding: 15px;
  background-color: #f7fbf0;
  border-radius: 10px;
  
  border: 1px solid;
  /* border-color: #4a4c47ba; */
  /* width: 100px; */
  /* text-align: center; */
  /* box-shadow: 5px 7px #606756; */
  max-width: 200px;
  /* margin-bottom: 50px; */
  /* height: 300px; */
  height: 251px;
  align-self: center;

}



.character-header {
  /* margin-top: 10px; */
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* .game-content button {
  padding: 20px;
  margin-right: 10px;
  margin-top: 10px;
} */

.game-content-player-name{
  font-size: 30px;
  margin: 5px 0px;
  margin-bottom: 10px;
}

.game-summary-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  background-color: #f7fbf0;
  border-radius: 3px;
  margin-top: 20px;
  /* border: 1px solid; */
  /* width: 100px; */
  /* text-align: center; */
  /* box-shadow: 5px 7px #606756; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

.player-item {
  margin: 10px;
  padding: 5px;
  width: 283px;
  text-align: center;
  background-color: #ffffffad;
  border-radius: 2%;
  box-shadow: 2px 2px 2px #bdae96;
  box-shadow: 2px 2px 2px #351a16; /* night barn */
  background-color: #be5e4d;/* night barn */
}

.p-cards-item {
  padding: 22px 0px;
  /* margin: 14px 0px; */
  border-bottom: 1px solid #2c2f28;

}

.game-summary-title {
  flex-basis: 100%;
  margin: 10px 0px;
  margin-left: 10px;
  font-size: 22px;
}

.game-summary-current-action {
  margin: 0;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.player-name {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.player-eggs {
  padding: 5px 0px;
  font-size: 15px;
}

.b-player-eggs {
  padding: 5px 0px;
  font-size: 20px;
}

.player-item img {
  width: 39px;
  float: right;
  /* border-radius: 45%; */
}

.p-cards-label {
  font-size: 14px;
  /* width: 100%; */
  /* display:block; */
  /* text-align: center; */
  float: left;
  color: black;
  /* border-bottom: 1px solid #2c2f28; */
}
.p-cards-value {
  font-size: 20px;
  /* float: right; */
  text-align: center;
  float: right;
}

.p-cards-cards {
  height: 83px;
}

.challenge {
  text-align: center;
  color: red;
}

.revealed-card {
  /* align-items: center; */
  overflow: auto;
  /* float: right; */
  /* padding: 0px 5px; */
  vertical-align: top;
  display: inline-block;
  text-align: center;
  /* width: 125px; */
  margin: 10px 15px;
}

.player-cards img {
  width: 114px;
  /* padding: 0 15px; */
  margin-left: auto;
  margin-right: auto;
}

.revealed-card figcaption {
  /* padding-right: 4px; */
  display: block;
}

.dead {
  background-color: #da3333;
}

.board {
  display: flex;
  padding: 35px;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 10px;
  background-color: #f7fbf0;
  border-radius: 3px;
  /* border: 1px solid; */
  /* box-shadow: 5px 7px #606756; */
  text-align: center;
}

.b-player-item {
  margin: 10px 10px;
  padding: 5px;
  width: 190px;
}

.b-player-name {
  font-size: 20px;
}

.players-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.player {
  padding: 10px;
  text-align: left;
}

.highlight {
  border: 3px solid;
  border-color: #5ba030;
  border-color: #82a971; /*night barn*/
  border-color: #fed6a7;
  border-radius: 3px;
}

h1 {

}

.board-title {
  margin: 30px;
  text-align: center;
}

.player-title {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  /* text-align: center; */
}

.board-container {
  max-width: 900px;
  margin: 0 auto;
}

.home-title {
  text-align: center;
  font-family: 'Limelight', serif;
  font-family: 'Rye';
}

.home-instruction {
  padding: 5px;
  padding-bottom: 35px;
  line-height: 1.5em;
  text-align: justify;
  /* font-family: verdana; */
  font-size: .9em;
}

.btn-default:enabled {
  height: 62px;
  width: 120px;
  padding: 5px 10px;
  /* background: #e1f4d0; */
  border: 1px solid #ddd;
  font-size: 1em;
  vertical-align: top;
  cursor: pointer;
  font-family: inherit;
  border-radius: 3px;
  background-color: #fbf3d9; /*night barn*/
  box-shadow: 2px 2px 2px #31302c; /*night barn*/
  color: #343142; /*night barn*/
}

.btn-default:disabled {

}

.btn-default:hover:enabled {
  color: #fbf3d9;
  background-color: #343142;
}

.action-btn:enabled {
  padding:3px;
  margin-right: 10px;
  margin-top: 10px;
  width: 180px;
  height: 84px;
  border-radius: 4%;
  /* box-shadow: 1px 1px 1px #bdae96; */
}

.action-btn:disabled {
  padding:3px;
  margin-right: 10px;
  margin-top: 10px;
  width: 180px;
  height: 84px;
  border-radius: 4%;
  /* box-shadow: 1px 1px 1px #bdae96; */
}

.btn-start-over:enabled {
  border: 1px solid #ddd;
  font-size: 1em;
  vertical-align: top;
  cursor: pointer;
  font-family: inherit;
  position: absolute;
  font-size: .8em;
  top: 0;
  right: 129px;
  /* bottom: 0; */
  padding: 5px;
  margin: 0;
  border-radius: 3px;
  z-index: 3;
  font-size: 20px;
}

.btn-dark {
  height: 62px;
  width: 120px;
  padding: 5px 10px;
  /* background: #e1f4d0; */
  border: 1px solid #ddd;
  font-size: 1em;
  vertical-align: top;
  cursor: pointer;
  font-family: inherit;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #cac3ad;
  background-color: #343142;
  color: #fbf3d9;
  margin: 10px;
}

btn-yes {
 float: left;
}

btn-cancel {
  float: right;

}

.green {
  background-color: #acd8657a;
}

.green-txt {
  color: #5ba030;
  color: #82a971;
}

.red-txt {
  color: #da3333;
  color: #770505; /*night barn*/
}

.player-name-form {
  font-size: 1.5em;
}

.footer {
  height: 200px;

}

.name-form {
  
}

a {
  text-decoration: none;
  color: #2c2f28;
  text-decoration: underline;
}

a:hover {
  color: #acd8657a
}

a:visited {
  color: #2c2f28;
}

a:active {
  color: #2c2f28;
}

.b-player-name {
  padding: 5px 0;
}

.error {
  color: red;
}

.no-user-found {
  margin: 0 auto;
  padding-top: 200px;
}

.rules-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  transition: max-height 0.35s ease-in-out;
  /* transition: flex 0.3s ease-in-out; */
  padding-top: 65px;
}

.rules-col {
  margin: 10px;
  /* display: flex; */
}

.rules-note {
  font-size: 12px;
}

.rules-item {
  /* margin: 10px; */
  margin-bottom: 3px;
  /* width: 50px; */
  height: 35px;
}
.rules-sub-title {
  /* font-size: 1.1em; */
  /* font-size: 22px; */
  /* font-size: 19px; */
  font-weight: bold;
  margin-bottom: 5px;
}

.rules-header {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  margin-top: 5px;
  margin-left: 10px;
  /* margin-top: 10px; */
  /* flex-basis: 100%; */
}

.rules-container-outer {
  background-color: #fed6a7;
  padding: 10px;
  padding: 20px;
  color: #343142;
  position: relative;
  z-index: 2;
}

/* ***** TESTING ***** */

.title {
  text-align: center;
  /* background-color: #f7fbf0; */
  font-size: 3em;
  font-weight: bold;
  /* width: 100%; */
  position: absolute;
  padding: 10px 20px;
  font-family: 'Rye', serif;
  /* font-family: 'Pacifico', serif; */
  z-index: 3;
  color: #fed6a7;
}

.purple-txt {
  color: #343142;
}

.summary {
  /* grid-area: summary; */
  text-align: center;
  /* min-width: 192px; */
  /* max-width: 250px; */
  padding-top: 100px;
}

.content {
  /* grid-area: content; */
  text-align: center;
  margin-left: 10px;
}

.cards {
  /* grid-area: cards; */
}

.rules {
  /* grid-area: rules; */
  /* padding-top: 90px; */
}

/* .container {
  display: grid; */
  /* grid-template-areas: 'title title title title title title'
                       'summary summary summary summary summary summary'
                       'content content content content content content'
                       'cards cards cards rules rules rules'; */
  /* grid-template-areas: 'title title title title title title'
                       'summary summary summary summary summary summary'
                       'content content  content content content content'
                       'cards cards cards rules rules rules';
} */

.summary .player-item {
  display: inline-block;
}


.rules-collapse {
  /* max-height: 0px; */
  /* transition: all 0.5s ease-in-out; */
  /* transition: all 1s ease-out; */
  transition: max-height 0.35s ease-in;
  /* transition: max-height 1s ease-in-out; */
}

.footer {
  height: 50px;
}

.rules-btn:enabled {
  /* margin: 0 auto; */
  display: block;
  /* width: 100%; */
  margin-right: 4px;
  border-radius: 0;
  /* text-align: left; */
  font-size: 20px;
  /* padding-left: 60px; */
  float: right;
  border-radius: 3%;
  /* border: none; */
  position: relative;
  z-index: 5;
}

.rules-btn-label {
  padding-left: 20px;
  float: left;
  font-size: 25px;
}

.rules-btn-symbol {
  padding-right: 20px;
  float: right;
}

.hide {
  display: none;
}

.start-over-modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 33%; /* Could be more or less, depending on screen size */
  background-color: #fbf3d9;
  color: #343142;
  max-height: 270px;
  font-size: 20px;
  text-align: center;
  z-index: 5;
}


.start-over-btn-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pbyp-container {
  display: flex;
}

@media only screen and (max-width: 42em) {
  button.btn-default.btn-start-over {
      width: 92px;
      font-size: 18px;
      right: 100px;
  }
  
  button.btn-default.rules-btn {
    width: 92px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

  .action-btn:enabled {
    width: 165px
  }

  .home-content {
    padding: 0;
    padding-top: 50px;
  }

  .rules-container {
    justify-content: end;
  }

  .rules-item {
    margin-bottom: 38px;
  }

  .rules-col {
    margin: 8px;
  }

  .rules-container{
    font-size: 12px;
  }

  .rules-note {
    font-size: 10px;
  }

  .modal-content {
    width: 64%;
  }
}
  

